Hello there, <%= @game.player1.name %> and <%= @game.player2.name %>, are you ready to play?
<br> </br>

Player 1: <%= @game.player1.status %>
<br> </br>

Player 2: <%= @game.player2.status %>
<br> </br>

It is <%= @game.current_player.name %>'s turn
<br> </br>
<% if @game.current_player.asleep %>
<%= @game.current_player.name %> is asleep. Your actions will have no effect
<% end %>
<br> </br>
<form action="/attack" method="post">
Attack <%= @game.opponent.name %> <input type="submit" id='Attack!'>
</form>

<form action="/defend" method="post">
Defend <%= @game.current_player.name %> <input type="submit" id='Defend!'>
</form>

<form action="/sleep" method="post">
Put <%= @game.opponent.name %> to sleep <input type="submit" id='Put to sleep!'>
</form>
